<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="client/fragments/head::head"></head>
<body>
    <div th:replace="client/fragments/header::header"></div>
    <main class="booking-form">
        <h1>Đặt Tour</h1>
        <form th:action="@{/calendars/payment/(idUser=${user[0].maKH}, idTask=${task.getTask().maPC})}" method="POST" id="booking-form">
            <div class="form-container">
                <section class="tour-info">
                    <h2>Thông tin tour</h2>
                    <div class="tour-image">
                        <img th:src="@{/admin/img/tour/{img}(img=${task.getTour().anhTour})}" alt="anh" id="tour-image">
                    </div>
                    <div class="form-group">
                        <label for="tour-name">Tên tour:</label>
                        <input type="text" id="tour-name" name="tour-name" th:value="${task.getTour().tenTour}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="start-date">Ngày khởi hành:</label>
                        <input type="text" id="start-date" name="start-date" th:value="${#dates.format(task.getTask().ngayKH, 'dd-MM-yyyy')}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="end-date">Ngày kết thúc:</label>
                        <input type="text" id="end-date" name="end-date" th:value="${#dates.format(task.getTask().ngayKT, 'dd-MM-yyyy')}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="tour-costs">Giá:</label>
                        <input class="cost" type="text" id="tour-costs" name="tour-costs" th:value="${task.getTour().giaTour} + ' VND'" disabled>
                    </div>
                </section>

                <section class="customer-info">
                    <h2>Thông tin người đặt</h2>
                    <div class="form-group">
                        <label for="fullname">Họ và tên:</label>
                        <input type="text" id="fullname" name="fullname" th:value="${user[0].tenKH}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="phone">Số điện thoại:</label>
                        <input type="text" id="phone" name="phone" th:value="${user[0].sdt}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" id="email" name="email" th:value="${user[0].email}" disabled>
                    </div>
                </section>
            </div>

            <div class="guide-info">
                <h2>Thông tin hướng dẫn viên</h2>
                <div class="guide-image">
                    <img th:src="@{/admin/img/guide/{img}(img=${task.getGuide().anhHDV})}" alt="anh" id="guide-image">
                </div>
                <div class="guide-content">
                    <div class="form-group">
                        <label for="guide-name">Hướng dẫn viên:</label>
                        <input type="text" id="guide-name" name="guide-name" th:value="${task.getGuide().tenHDV}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="guide-costs">Giá:</label>
                        <input class="cost" type="text" id="guide-costs" name="guide-costs" th:value="${task.getGuide().giaHDV} + ' VND'" disabled>
                    </div>
                </div>
            </div>

            <div class="form-group" id="payment-group">
                <label for="payment-method">Hình thức thanh toán:</label>
                <select id="payment-method" name="payment-method">
                    <option>MoMo</option>
                </select>
            </div>

            <div class="form-group" id="total-group">
                <label for="total-price">Tổng tiền:</label>
                <input type="text" id="total-price" name="total-price" th:value="${task.getTour().giaTour + task.getGuide().giaHDV} + ' VND'" readonly>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn-submit" name="payUrl">Xác nhận đặt Tour</button>
            </div>
        </form>
    </main>

<footer th:replace="client/fragments/footer::footer"></footer>
</body>
</html>
