<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head::head"></head>
<body>
    <div th:replace="admin/fragments/header::header"></div>    
    <div class="tour-form">
        <div class="form-container">
            <div class="form-content">
                <h2>Thêm Tour</h2>
                <form action="/tours" method="post" enctype="multipart/form-data" class="tour-insert-form">
                    <div class="form-group">
                        <label for="tourName">Tên Tour:</label>
                        <input id="tourName" name="TenTour" type="text" required >
                    </div>

                    <div class="form-group">
                        <label for="GioiThieu">Giới thiệu:</label>
                        <textarea id="GioiThieu" name="GioiThieu" rows="5" required></textarea>
                    </div>

                    <div class="form-group">
                        <label for="tourCategory">Chủ đề:</label>
                        <select id="tourCategory" name="MaCD" required>
                            <option value="">--Chọn chủ đề--</option>
                            <option value="1">Biển đảo</option>
                            <option value="2">Văn hóa lịch sử</option>
                            <option value="3">Nghỉ dưỡng</option>
                            <option value="4">Mạo hiểm</option>
                            <option value="5">Ẩm thực</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="tourImage">Ảnh Tour:</label>
                        <div class="image-upload">
                            <img id="imagePreview" src="/admin/img/no-image.png" alt="Ảnh tour" class="avatar-img">
                            <input type="file" id="tourImage" name="AnhTour" class="avatar-input" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="MoTa">Mô tả:</label>
                        <textarea id="MoTa" name="MoTa" rows="5" required></textarea>
                    </div>

                    <div class="form-group">
                        <label for="price">Giá:</label>
                        <input id="price" name="Gia" type="text" min="0" required >
                    </div>

                    <div class="button-group">
                        <a href="/tours/manage/index" class="btn btn-secondary">Quay về</a>
                        <button type="submit" name="btn-insert" class="btn btn-primary">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        CKEDITOR.replace("GioiThieu");
        CKEDITOR.replace("MoTa");
    </script>

    <footer th:replace="admin/fragments/footer::footer"></footer>
</body>
</html>