<header th:fragment="header">
    <div class="header-container">
        <div class="logo">
            <img th:src="@{/client/img/logo.jpg}" alt="logo">
            <p>Sao Việt</p>
        </div>
        <div class="search">
            <div class="sub-search">
                <form id="search_form" action="/tour" method="post">
                    <input type="text" placeholder="Tìm kiếm Tours" name="search_tour">
                    <button type="submit"><img th:src="@{/client/icons/search.svg}" alt="icon"></button>
                </form>
            </div>
        </div>
        <div class="content-right">
            <div class="icon-calendar">
                <a th:href="@{/calendars/index}">
                    <img th:src="@{/client/icons/clock-regular.svg}" alt="icon">
                    <p>Lịch đặt</p>
                    <span id="notification-calendar">.</span>
                </a>
            </div>
            <div class="icon-account">
                <div th:if="${username == null}">
                    <a th:href="@{/auth/login}">
                        <img th:src="@{/client/icons/user-regular.svg}" alt="icon">
                        <p>Đăng nhập</p>
                    </a>
                </div>
                <div th:if="${username != null}">
                    <div class="account-info">
                        <img th:src="@{/client/icons/user-regular.svg}" alt="icon">
                        <p th:text="${fullNameUser}"></p>
                        <ul id="slidebar">
                            <li><a th:href="@{/users/infor}">Thông tin khách hàng</a></li>
                            <li><a th:href="@{/auth/logout}" style="color: red;">Đăng xuất</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav>
        <ul class="menu">
            <li><a th:href="@{/}">🏠Trang chủ</a></li>
            <li><a th:href="@{/tours}">✈️Tours</a></li>
            <li><a th:href="@{/guides/index}">🧑‍💼Hướng dẫn viên</a></li>
            <li><a th:href="@{/hotels/index}">🏩Khách sạn</a></li>
            <li><a th:href="@{/news/index}">📰Tin tức</a></li>
        </ul>
    </nav>
</header>