<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="client/fragments/head :: head"></head>
<body>
    <div th:replace="client/fragments/header :: header"></div>
    <div class="tour-details">
        <h1 th:text="${tour.tentour}"></h1>
        <div class="tour-info">
            <div class="tour-image">
                <img th:src="@{/admin/img/tour/{image}(image=${tour.anhtour})}" alt="Tour Image">
            </div>
            <div class="tour-infor">
                <h2 id="introduce-tour">Giới thiệu:</h2>
                <div id="introduce" th:utext="${tour.gioithieu}"></div>
                <h2 id="price-tour">Giá Tour:</h2>
                <p id="price" th:text="${tour.giatour} + ' VND'"></p>
                <a th:href="@{/tasks/list/{id}(id=${tour.matour})}">
                    <button class="book-now">Đặt ngay</button>
                </a>
            </div>
        </div>

        <div class="tour-schedule">
            <h2>Nội dung chi tiết</h2>
            <div class="tour-detail" th:utext="${tour.mota}"></div>
        </div>
    </div>
    
    <footer th:replace="client/fragments/footer :: footer"></footer>
</body>
</html>
