<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="client/fragments/head :: head"></head>
<body>
    <div th:replace="client/fragments/header :: header"></div>

    <div th:if="${tours != null and !tours.isEmpty()}" class="tour-detail">
        <h1>Danh sách các Tour</h1>
        <h3>Khám phá các tour cùng Sao Việt hấp dẫn với nhiều địa điểm du lịch tuyệt vời</h3>
        <div class="tour-list">
            <div th:each="tour : ${tours}" class="tour-item">
                <img th:src="@{/admin/img/tour/{image}(image=${tour.anhtour})}" alt="Tour Image">
                <div class="tour-info">
                    <h2 th:text="${tour.tentour}"></h2>
                    <p th:text="${tour.gioithieu}"></p>
                    <p id="cost"><strong>Giá:</strong> <span th:text="${tour.giatour} + ' VND'"></span></p>
                    <a th:href="@{/tours/detail/{id}(id=${tour.matour})}" class="btn-detail">Xem chi tiết</a>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${tours == null or tours.isEmpty()}" style="width: 100%; height: 650px;">
        <h2>Không tìm được Tour phù hợp!</h2>
    </div>

    <footer th:replace="client/fragments/footer :: footer"></footer>
</body>
</html>
